body{
    background-color: black;
  }
  .horizontal-carousel {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  
  .horizontal-carousel h2 {
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-right:85%;
  }
  
  .carousel-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto; 
    scroll-behavior: smooth; 
    padding: 0 10px;
    width: 100%;
    justify-content: flex-start;
    gap: 10px; 
    scrollbar-width: none; 
  }
  
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .movie-item {
    flex: 0 0 auto; 
    width: 200px; 
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  .movie-item:hover {
    transform: scale(1.05); 
  }
  
  .movie-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
  }
  
  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
    transition: background-color 0.2s ease;
  }
  
  .scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.8); 
  }
  
  .scroll-button.left {
    left: 10px;
  }
  
  .scroll-button.right {
    right: 10px;
  }
  
  @media (max-width: 768px) {
    .movie-item {
      width: 150px; 
    }
  
    .carousel {
      padding: 0 5px;
    }
  }
  
  @media (max-width: 480px) {
    .movie-item {
      width: 120px; 
    }
  }